@font-face {
    font-family: "DejaVu Sans";
    src: url("pixelOperator/PixelOperator8.ttf");
}
@font-face {
    font-family: "DejaVu Sans";
    src: url("pixelOperator/PixelOperator8-Bold.ttf");
    font-weight: bold;
}